<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cadastro.css">
    <title>Cadastro</title>
</head>
<body>
<div class="container">
<div class="header">
  <h2>Cadastrar</h2>
  <a href="{{ url_for('login') }}">Entrar</a>
</div>

<form action="{{ url_for('cadastro') }}" method="POST">
  <input type="text" name="nome_usuario" placeholder="Nome de usuário" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="senha" placeholder="Senha" required>
  <input type="password" name="confirmacao_senha" placeholder="Confirmar senha" required>
  <button type="submit">Cadastrar</button>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
</body>
</html>