<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/homepage.css">
    <link rel="icon" type="image/x-icon" href="/static/logo.png"/>
</head>
<body>
  <div class="card">
      <nav class="sidebar">
          <h2>Mini Social</h2>
          <a href="/profile" class="sidebar-item">Perfil</a>
          <a href="/feed" class="sidebar-item">Feed</a>
          <a href="/" class="sidebar-item">Sair</a>
        </nav></div>
    <div class="container">
        <main class="main-content">
                <section id="feed" class="section active">
    <div class="section-header">
    </div> <br><br><br>
    <div class="make-post">
    <form>
        <textarea placeholder="O que você está pensando?"></textarea><br>
        <button type="submit">Publicar</button>
    </form>
</div> 
    <section class="posts-section"></section>
</main>
</body>
</html>