<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Mini Social</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
  <link rel="stylesheet" href="/static/index.css">
  <link rel="icon" type="image/x-icon" href="/static/logo.png"/>
</head>
<body>
  <div class="container">
    <h2>Mini Social</h2>
    <div class="tabs">
  <div class="tab active" id="tab-login">Entrar</div>
  <div class="tab" id="tab-register">Cadastrar</div>
</div>
<form id="loginForm">
  <label for="loginEmail">Email</label>
  <input type="text" id="loginEmail" name="email" required />

  <div class="label-float">
    <label for="loginPassword">Senha</label>
    <input type="password" id="loginPassword" name="password" required />
  </div>

  <button type="submit">Entrar</button>
</form>

<form id="registerForm" class="hidden">
  <input type="text" id="registerUsername" name="username" required placeholder="Nome de usuário" />
  <input type="email" id="registerEmail" name="email" required placeholder="Email" />

  <div class="label-float">
    <input type="password" id="registerPassword" name="password" required placeholder="Senha" />
  </div>

  <div class="label-float">
    <input type="password" id="registerConfirmPassword" name="confirmPassword" required placeholder="Confirmar senha" />
  </div>

  <button type="submit">Cadastrar</button>
</form>
    <script>
  function showForm(form) {
    document.getElementById('loginForm').style.display = form === 'login' ? 'flex' : 'none';
    document.getElementById('registerForm').style.display = form === 'register' ? 'flex' : 'none';
    document.getElementById('tab-login').classList.toggle('active', form === 'login');
    document.getElementById('tab-register').classList.toggle('active', form === 'register');
  }

  document.getElementById('tab-login').addEventListener('click', () => showForm('login'));
  document.getElementById('tab-register').addEventListener('click', () => showForm('register'));

  document.getElementById('loginForm').addEventListener('submit', function(event) {
    event.preventDefault();

    let email = this.querySelector('input[name="email"]').value;
    let password = this.querySelector('input[name="password"]').value;

    fetch('/api/users/login', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ email: email, password: password })
    }).then(response => {
      if (!response.ok) {
        return response.json().then(error => {
          throw new Error(error.error || 'Erro ao fazer login');
        });
      }

      let authorizationHeader = response.headers.get('Authorization');
      if (!authorizationHeader) throw new Error('Token de autorização não encontrado na resposta');

      let token = authorizationHeader.split(' ')[1];
      if (!token) throw new Error('Token não encontrado');

      document.cookie = `token=${token}; path=/; max-age=3600`; 

      return response.json();
    }).then(data => {
      alert('Login bem-sucedido! Redirecionando...');
      window.location.href = '/feed';
    }).catch(error => {
      alert('Erro: ' + error.message);
    });
  });

  document.getElementById('registerForm').addEventListener('submit', function(event) {
    event.preventDefault();

    let username = this.querySelector('input[name="username"]').value;
    let email = this.querySelector('input[name="email"]').value;
    let password = this.querySelector('input[name="password"]').value;
    let confirmPassword = this.querySelector('input[name="confirmPassword"]').value;

    if (password !== confirmPassword) {
      alert('As senhas não coincidem!');
      return;
    }

    fetch('/api/users/register', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ username: username, email: email, password: password })
    }).then(response => {
      if (!response.ok) {
        return response.json().then(error => {
          throw new Error(error.error || 'Erro ao registrar usuário');
        });
      }
      return response.json();
    }).then(data => {
      alert('Registro bem-sucedido! Autentique-se por favor.');
      window.location.href = '/';
    }).catch(error => {
      alert('Erro: ' + error.message);
    });
  });
</script>
</body>
</html>